* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
}
input {
  display: block;
  width: 17rem;
  margin: 0.3rem;
  border: 1px solid silver;
  font-size: 2rem;
  text-align: right;
}
.numbers button,
.operators button {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  margin: 0.1rem;
  border: 2px solid silver;
  outline: none;
}
button.bigButton {
  height: 6.1rem;
}
button.clear {
  background-color: lightsalmon;
}
button.result {
  background-color: lightskyblue;
}
button:hover {
  border-color: gray;
}
button:active {
  font-weight: bold;
  background-color: silver;
}
.leftPanel,
.rightPanel {
  display: inline-block;
  vertical-align: top;
  margin: 0.3rem;
}
